In [1]:
 # Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read Hawaii Measurements data
hw_measurements_data = pd.read_csv("Resources/hawaii_measurements.csv")
hw_measurements_data.head()

# As we can see, there are NaNs values in "prcp" column, however it's not good idea to delete all these rows 
# because we could lost valuable data ("tobs" column).
# For specific metrics and charts of precipitation, we are going to filter NaN values.

# The only data I will delete will be rows without date. But, this is not the case.

hw_measurements_data.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
hw_measurements_data.insert(0,'New_ID', range(0, len(hw_measurements_data)))
hw_measurements_data.head()

   New_ID      station        date  prcp  tobs
0       0  USC00519397  2010-01-01  0.08    65
1       1  USC00519397  2010-01-02  0.00    63
2       2  USC00519397  2010-01-03  0.00    74
3       3  USC00519397  2010-01-04  0.00    76
4       4  USC00519397  2010-01-06   NaN    73

In [5]:
hw_measurements_data.count()

New_ID     19550
station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
# Read Hawaii Stations data
hw_stations_data = pd.read_csv("Resources/hawaii_stations.csv")
hw_stations_data

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [8]:
hw_stations_data.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [9]:
#Export clean data
hw_stations_data.to_csv("Clean_Data/hw_stations_data_clean.csv", encoding="utf-8", index=False, header=True)
hw_measurements_data.to_csv("Clean_Data/hw_measurements_data_clean.csv", encoding="utf-8", index=False, header=True)